body{
    overflow: hidden;
	background-color: #1b3c7e;
}

.container{
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

#on{
	overflow: hidden;
    position: absolute;
    top: 20%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

#env{
	overflow: hidden;
    position: absolute;
    top: 35%;
    left: 21%;
    font-size: 25px;
}

#connect1{
	overflow: hidden;
    position: absolute;
    top: 34.5%;
    left: 25%;
    font-size: 150%;
    color: #ffeccc;
}

#connect2{
	overflow: hidden;
    position: absolute;
    top: 42.5%;
    left: 25%;
    font-size: 150%;
    color: #ffeccc;
}

#connect3{
	overflow: hidden;
    position: absolute;
    top: 50.5%;
    left: 25%;
    font-size: 150%;
    color: #ffeccc;
}

#connect4{
	overflow: hidden;
    position: absolute;
    top: 58.5%;
    left: 25%;
    font-size: 150%;
    color: #ffeccc;
}

#connect5{
	overflow: hidden;
    position: absolute;
    top: 66.5%;
    left: 25%;
    font-size: 150%;
    color: #ffeccc;
}

#ino{
	overflow: hidden;
    position: absolute;
    top: 43%;
    left: 21%;
    font-size: 25px;
}

#tele{
	overflow: hidden;
    position: absolute;
    top: 51%;
    left: 21%;
    font-size: 25px;
}

#insta{
	overflow: hidden;
    position: absolute;
    top: 59%;
    left: 21%;
    font-size: 25px;
}

#fb{
	overflow: hidden;
    position: absolute;
    top: 67%;
    left: 21%;
    font-size: 25px;
}

#home{
      position: absolute;
           top: 12px;
           left: 15px;
          font-family: serif;
          font-size: 200%;
          transition: transform .2s;
}

#home:hover{
    transform: scale(1.2);
}


#only{
   overflow: hidden;
   text-decoration: none;
   color: #ffcccc;
   transition: .2s;
}

#only:hover{
    overflow: hidden;
    color: hotpink;
}

@media only screen and (min-width: 768px){
img{

	display: inline-block;
	width: 100%;
	height: 100%;
}
body{
	background-color: #1b3c7e;

}
}



